{% extends "base.html.twig" %}

{% block title %}
SymRecipe - Accueil
{% endblock %}



{% block body %}
<div class="container mt-4">
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur Pokédex</h1>
  <p class="lead">Ceci est un site test afin de decouvrir toute la creation d'une application avec Symfony 6, cette aplication va te permettre de créer un pokédex virtuel. Tu pourras partager tes pokémons avec la communauté, ou bien les gardées privés</p>
  <hr class="my-4">
  <p>Pour commencer, rendez vous sur la page d'inscription pour commencer l'avanture.</p>
  <a class="btn btn-secondary btn-md" href="#" role="button">Inscription</a>
</div>
</div>


{% endblock %}

